/* TYPOGRAPHY */
$font-family-main: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-family-headings: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-family-logo: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-size: 1.25em;

$monospace: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, sans-serif !default;
$font-size-code: 0.85em !default;
$font-height-code: 1.3em !default;
$border-radius: 4px !default;

/* PADDING */
$padding-x-large: 23%;
$padding-large: 9%;
$padding-medium: 6%;
$padding-small: 4%;
$padding-x-small: 3%;
$title-padding: 1%;
$feature-image-padding: 10%;

/* MOBILE */
$xl-break: 2000px;
$l-break: 1400px;
$m-break: 1000px;
$break: 768px;
$sm-break: 576px;
$x-sm-break: 320px;


/* THEME COLOR SCHEMES */
html, html[data-theme="light"] {
  --background: #ffffff;
  --blockquote: #eef7fa;
  --selection: #d4d4d4;
  --meta: #595959;
  --link: #b96d12;
  --header-background: #24292e;
  --header-text: #ffffff;
  --header-link: #383838;
  --code-background: #E0E0E0;
  --code-inline: #24292e;
  --text-shadow: #3f3f3f;
  --text: #262626;
  --h1: #262626;
  --h2: #262626;
  --h3: #262626;
  --h4: #262626;
  --h5: #262626;
  --h6: #262626;
  --border: rgba(0, 0, 0, 0.2);
}

html[data-theme="dark"] {
  --background: #202020; // brand, background
  --blockquote: #373e47; // blockquote
  --selection: #545d68; // selection
  --meta: #909dab; // meta
  --link: #eb9737; // theme, link, link shadow header bg
  --header-background: #2A3444; // Color before header image load
  --header-text: #e7f3f4; // header text, feature img text
  --header-link: #adbac7; // header link, search color
  --code-background: #2A3444;
  --code-inline: #d9b600;
  --text-shadow: #2d333b; // text shadow
  --text: #cdd9e5; // text
  --h1: #cdd9e5; // headers
  --h2: #cdd9e5;
  --h3: #cdd9e5;
  --h4: #cdd9e5;
  --h5: #cdd9e5;
  --h6: #cdd9e5;
  --border: rgba(255, 255, 255, 0.5); // border
  --cusdis--color-text-default: var(--text);
  --cusdis--color-comment-username-text: var(--link);
}

/* BASE16 CODE HIGHLIGHT */
// Gruvbox Light Hard Theme (https://github.com/dawikur/base16-gruvbox-scheme/blob/master/gruvbox-light-hard.yaml)
html, html[data-theme="light"] {
  --base00: #f9f5d7; // Default Background
  --base01: #ebdbb2; // Lighter Background (Used for status bars) - NOT USED
  --base02: #d5c4a1; // Selection Background
  --base03: #bdae93; // Comments, Invisible, Line Highlighting
  --base04: #665c54; // Dark Foreground (Used for status bars)
  --base05: #504945; // Punctuation
  --base06: #3c3836; // Highlight, Light Background
  --base07: #282828; // Default Foreground, Default text color
  --base08: #9d0006; // Operators (and Parenthesis, Caret, Delimiters)
  --base09: #af3a03; // Classes, Markup Bold, Search Text Background
  --base0a: #b57614; // Strings, Inherited Class, Markup Code, Diff Inserted
  --base0b: #79740e; // Functions, Methods, Attribute IDs, Headings
  --base0c: #427b58; // Support, Regular Expressions, Escape Characters, Markup Quotes
  --base0d: #076678; // Keywords, Storage, Selector, Markup Italic, Diff Changed
  --base0e: #8f3f71; // Integers, Boolean, Constants, XML Attributes, Markup Link Url
  --base0f: #d65d0e; // Deprecated, Opening/Closing Embedded Language Tags e.g.
}

// Gruvbox Dark Medium Theme (github.com/dawikur/base16-gruvbox-scheme/blob/master/gruvbox-dark-medium.yaml)
html[data-theme="dark"] {
  --base00: #282828; // Default Background
  --base01: #3c3836; // Lighter Background (Used for status bars, line number and folding marks)
  --base02: #504945; // Selection Background
  --base03: #665c54; // Comments, Invisible, Line Highlighting
  --base04: #bdae93; // Dark Foreground (Used for status bars)
  --base05: #d5c4a1; // Default Foreground, Caret, Delimiters, Operators
  --base06: #ebdbb2; // Light Foreground (Not often used)
  --base07: #fbf1c7; // Light Background (Not often used)
  --base08: #fb4934; // Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted
  --base09: #fe8019; // Integers, Boolean, Constants, XML Attributes, Markup Link Url
  --base0a: #fabd2f; // Classes, Markup Bold, Search Text Background
  --base0b: #b8bb26; // Strings, Inherited Class, Markup Code, Diff Inserted
  --base0c: #8ec07c; // Support, Regular Expressions, Escape Characters, Markup Quotes
  --base0d: #83a598; // Functions, Methods, Attribute IDs, Headings
  --base0e: #d3869b; // Keywords, Storage, Selector, Markup Italic, Diff Changed
  --base0f: #d65d0e; // Deprecated, Opening/Closing Embedded Language Tags, e.g. <?php ?>
}

// Monokai Theme
//html[data-theme="dark"] {
//  --base00: #272822; // Default Background
//  --base01: #383830; // Lighter Background (Used for status bars)
//  --base02: #49483e; // Selection Background
//  --base03: #75715e; // Comments, Invisible, Line Highlighting
//  --base04: #a59f85; // Dark Foreground (Used for status bars)
//  --base05: #f8f8f2; // Light Foreground (Not often used)
//  --base06: #f5f4f1; // Light Background (Not often used)
//  --base07: #f9f8f5; // Default text color
//  --base08: #f92672; // Parenthesis, Caret, Delimiters, Operators
//  --base09: #fd971f; // Classes, Markup Bold, Search Text Background
//  --base0a: #e6db74; // Strings, Inherited Class, Markup Code, Diff Inserted
//  --base0b: #a6e22e; // Functions, Methods, Attribute IDs, Headings
//  --base0c: #a1efe4; // Support, Regular Expressions, Escape Characters, Markup Quotes
//  --base0d: #66d9ef; // Keywords, Storage, Selector, Markup Italic, Diff Changed
//  --base0e: #ae81ff; // Integers, Boolean, Constants, XML Attributes, Markup Link Url
//  --base0f: #cc6633; // Deprecated, Opening/Closing Embedded Language Tags e.g.
//}
